Repository extendsLcc/workshop-REST_API: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(setup): add autoimport api and vue components autoimport plugins
  apps/front-end/auto-imports.d.ts
  apps/front-end/components.d.ts
  apps/front-end/package.json
  apps/front-end/tsconfig.json
  apps/front-end/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(setup): remove unplugin-vue-components, because poor file navigation support
  apps/front-end/components.d.ts
  apps/front-end/package.json
  apps/front-end/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(setup): add vite-tsconfig-paths plugin
  apps/front-end/package.json
  apps/front-end/tsconfig.json
  apps/front-end/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(setup): config vite auto import api plugin
  apps/front-end/auto-imports.d.ts
  apps/front-end/vite.config.ts
Due: eslint --fix

feat(layout): created base front-end app layout
  apps/front-end/src/components/NavBar.vue
  apps/front-end/src/components/SideNav.vue
  apps/front-end/src/layouts/default.vue
  apps/front-end/src/pages/index.vue
Due: eslint --fix

fix(error-page): add empty layout for using with error page
  apps/front-end/src/layouts/empty.vue
  apps/front-end/src/pages/[...error].vue
Due: eslint --fix

refactor(layout): set content default background
  apps/front-end/src/layouts/default.vue
Due: eslint --fix

first commit(front-end): Implement a next app in the project
  apps/front-end-vanilla/.eslintrc.json
  apps/front-end-vanilla/.gitignore
  apps/front-end-vanilla/README.md
  apps/front-end-vanilla/next.config.js
  apps/front-end-vanilla/package.json
  apps/front-end-vanilla/public/favicon.ico
  apps/front-end-vanilla/public/vercel.svg
  apps/front-end-vanilla/src/features/index/indexPage.ts
  apps/front-end-vanilla/src/features/index/view/IndexPage.tsx
  apps/front-end-vanilla/src/pages/_app.tsx
  apps/front-end-vanilla/src/pages/_document.tsx
  apps/front-end-vanilla/src/pages/index.tsx
  apps/front-end-vanilla/src/styles/theme.ts
  apps/front-end-vanilla/tsconfig.json
  apps/front-end-vanilla/yarn.lock
Due: prettier --write, eslint --fix

refactor(fastify): add fastify cors to server setup
  apps/back-end/package.json
  apps/back-end/src/server.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(front-end-vanilla): implements example of consuming category endpoints with vanillajs
  apps/front-end-vanilla/.github/vanilla-js-frontend.gif
  apps/front-end-vanilla/edit.html
  apps/front-end-vanilla/index.html
  apps/front-end-vanilla/new.html
  apps/front-end-vanilla/readme.md
Due: none

chore(eslint): prefer types definitions with type instead of interface
  apps/front-end/.eslintrc
Due: none

chore: add vueuse as dependency
  apps/front-end/auto-imports.d.ts
  apps/front-end/package.json
  apps/front-end/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(composables): add useFetch with baseUrl from env file
  apps/front-end/.env
  apps/front-end/src/composables/useFetch.ts
  apps/front-end/src/vite-env.d.ts
Due: eslint --fix

resolve conflicts: refactor(fastify): add fastify cors to server setup
  apps/back-end/package.json
  apps/back-end/src/server.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(front-end): Rename project and use pnpm
  .eslintrc
  apps/front-end/.gitignore
  apps/front-end/README.md
  apps/front-end/next.config.js
  apps/front-end/package.json
  apps/front-end/public/favicon.ico
  apps/front-end/public/vercel.svg
  apps/front-end/src/features/index/indexPage.ts
  apps/front-end/src/features/index/view/IndexPage.tsx
  apps/front-end/src/pages/_app.tsx
  apps/front-end/src/pages/_document.tsx
  apps/front-end/src/pages/index.tsx
  apps/front-end/src/services/ApiAxios.ts
  apps/front-end/src/styles/theme.ts
  apps/front-end/tsconfig.json
  apps/front-end/yarn.lock
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(_document): fix the link tag (google font)
  apps/front-end/src/pages/_document.tsx
  apps/front-end/yarn.lock
Due: eslint --fix

feat(Navbar): Implement the Chakra-Ui navbar with colormode switch
  apps/front-end/package.json
  apps/front-end/src/features/index/view/IndexPage.tsx
  apps/front-end/src/features/navbar/navbar.ts
  apps/front-end/src/features/navbar/view/Navbar.tsx
Due: prettier --write, eslint --fix

feat(categories): implement the categories page and list all categories
  apps/front-end/package.json
  apps/front-end/src/features/Categories/Categories.ts
  apps/front-end/src/features/Categories/types/CategoriesTypes.ts
  apps/front-end/src/features/Categories/view/CategoriesPage.tsx
  apps/front-end/src/features/navbar/view/Navbar.tsx
  apps/front-end/src/pages/_app.tsx
  apps/front-end/src/pages/categories/index.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(products): implement the list products page
  apps/front-end/src/features/Categories/types/CategoriesTypes.ts
  apps/front-end/src/features/Product/Products.ts
  apps/front-end/src/features/Product/types/ProductsType.ts
  apps/front-end/src/features/Product/view/ProductPage.tsx
  apps/front-end/src/pages/categories/index.tsx
  apps/front-end/src/pages/products/index.tsx
Due: eslint --fix

feat(customers): implement the customers list page
  apps/front-end/src/features/Customer/Customer.ts
  apps/front-end/src/features/Customer/types/CustomersTypes.ts
  apps/front-end/src/features/Customer/view/CustomerPage.tsx
  apps/front-end/src/pages/customers/index.ts
Due: eslint --fix

feat(orders): create the orders page
  apps/front-end/src/features/Categories/view/CategoriesPage.tsx
  apps/front-end/src/features/Customer/view/CustomerPage.tsx
  apps/front-end/src/features/Index/indexPage.ts
  apps/front-end/src/features/Index/view/IndexPage.tsx
  apps/front-end/src/features/Navbar/navbar.ts
  apps/front-end/src/features/Navbar/view/Navbar.tsx
  apps/front-end/src/features/Orders/Orders.ts
  apps/front-end/src/features/Orders/view/OrdesPage.tsx
  apps/front-end/src/features/Product/view/ProductPage.tsx
  apps/front-end/src/pages/_document.tsx
  apps/front-end/src/pages/index.tsx
  apps/front-end/src/pages/orders/index.ts
Due: eslint --fix

chore(orders): implement all types.
  apps/front-end/src/features/Orders/types/OrdersTypes.ts
  apps/front-end/src/features/Orders/view/OrdesPage.tsx
Due: eslint --fix

chore(index Page): implement the buttons link into index page
  apps/front-end/src/features/Cards/Cards.ts
  apps/front-end/src/features/Cards/components/Button.tsx
  apps/front-end/src/features/Cards/components/CardsComponent.tsx
  apps/front-end/src/features/Cards/types/CardsTypes.ts
  apps/front-end/src/features/Index/view/IndexPage.tsx
  apps/front-end/src/features/Orders/view/OrdesPage.tsx
Due: eslint --fix

chore(TitlePages): Implement a default component to title page.
  apps/front-end/src/features/Categories/view/CategoriesPage.tsx
  apps/front-end/src/features/Customer/view/CustomerPage.tsx
  apps/front-end/src/features/Orders/view/OrdesPage.tsx
  apps/front-end/src/features/Product/view/ProductPage.tsx
  apps/front-end/src/features/TitlePage/TitlePage.ts
  apps/front-end/src/features/TitlePage/components/TitlePageComponent.tsx
  apps/front-end/src/features/TitlePage/types/TitlePageTypes.ts
Due: eslint --fix

chore(view Modal): use the view modal on categories table
  apps/front-end/package.json
  apps/front-end/src/Components/Modal/DeleteModal/DeleteModal.ts
  apps/front-end/src/Components/Modal/DeleteModal/components/DeleteModalComponent.tsx
  apps/front-end/src/Components/Modal/ViewModal/ViewModal.ts
  apps/front-end/src/Components/Modal/ViewModal/components/ViewModalComponent.tsx
  apps/front-end/src/Components/Modal/types/ModalTypes.ts
  apps/front-end/src/features/Categories/view/CategoriesPage.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: implements categories crud operations
  apps/front-end/package.json
  apps/front-end/src/auto-imports.d.ts
  apps/front-end/src/components/Alert.vue
  apps/front-end/src/components/Breadcrumb.vue
  apps/front-end/src/components/Content.vue
  apps/front-end/src/components/DeleteConfirmationButton.vue
  apps/front-end/src/components/Form.vue
  apps/front-end/src/components/Fragment.vue
  apps/front-end/src/components/NavBar.vue
  apps/front-end/src/components/SideNav.vue
  apps/front-end/src/components/Spinner.vue
  apps/front-end/src/components/Table.vue
  apps/front-end/src/components/TableRow.vue
  apps/front-end/src/components/TextInput.vue
  apps/front-end/src/composables/useApi.ts
  apps/front-end/src/composables/useFetch.ts
  apps/front-end/src/env.d.ts
  apps/front-end/src/pages/categories/@types.ts
  apps/front-end/src/pages/categories/[category].vue
  apps/front-end/src/pages/categories/index.vue
  apps/front-end/src/pages/categories/new.vue
  apps/front-end/src/pages/index.vue
  apps/front-end/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

refactor(Alert): add space between alert title and body
  apps/front-end/src/components/Alert.vue
Due: eslint --fix

refactor: change page title
  apps/front-end/index.html
Due: none

refactor(TextInput): add placeholder prop
  apps/front-end/src/components/TextInput.vue
Due: eslint --fix

refactor(categories): add input placeholder and remove unused prop
  apps/front-end/src/pages/categories/index.vue
  apps/front-end/src/pages/categories/new.vue
Due: eslint --fix

feat(customers): implements list and register customers pages
  apps/front-end/src/pages/customers/@types.ts
  apps/front-end/src/pages/customers/index.vue
  apps/front-end/src/pages/customers/new.vue
Due: eslint --fix

chore(modal category): implement the ui on modal category
  apps/front-end/src/Components/Modal/DeleteModal/components/DeleteModalComponent.tsx
  apps/front-end/src/Components/Modal/InputModal/InputModal.ts
  apps/front-end/src/Components/Modal/InputModal/components/InputModalComponent.tsx
  apps/front-end/src/Components/Modal/types/ModalTypes.ts
  apps/front-end/src/features/Categories/view/CategoriesPage.tsx
Due: eslint --fix

fix(readme): corrige ortography on readme
  apps/back-end/readme.md
  apps/front-end-vanilla/edit.html
  apps/front-end-vanilla/index.html
  apps/front-end-vanilla/new.html
Due: none

update(package json): att all dependencies.
  apps/front-end/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(orders): include customer data in order list response
  apps/back-end/src/services/order.service.ts
Due: eslint --fix

refactor(products): include categories on list all products endpoints
  apps/back-end/src/services/product.service.ts
Due: eslint --fix

fix(DeleteConfirmationButton): fix watcher triggering eagerly
  apps/front-end/src/components/DeleteConfirmationButton.vue
Due: eslint --fix

fix(DeleteConfirmationButton): fix button wrong initial loading state
  apps/front-end/src/components/DeleteConfirmationButton.vue
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{json,yml}
  eslint --fix: any of: *.{js,ts,tsx,vue}
