Repository extendsLcc/workshop-REST_API: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{json,yml}": "prettier --write",
  "*.{js,ts,tsx,vue}": "eslint --fix"
}

chore: add thunder client vs code settings
  .vscode/settings.json
Due: prettier --write

chore: remove vscode settings from gitignore
  .gitignore
Due: none

chore(gitpod): run entire app on init
  .gitpod.yml
Due: prettier --write

refactor(cors): setup Access-Control-Allow-Origin cors config on fastify
  apps/back-end/src/server.ts
Due: eslint --fix

chore(gitpod): run entire project from package.json
  .gitpod.yml
  package.json
Due: prettier --write

chore(gitpod): changes port event action
  .gitpod.yml
Due: prettier --write

refactor(cors): add credentials to axios config on both vue and react examples
  apps/front-end-react/src/services/ApiAxios.ts
  apps/front-end-vue/src/composables/useApi.ts
Due: eslint --fix

fix(cors): enable any origin cors for fastify
  apps/back-end/src/server.ts
Due: eslint --fix

chore(react): rename project to front-end-react
  apps/front-end-react/package.json
Due: prettier --write

refactor(gitpod): setup vue api url to use gitpod url This make app work without gitpod local companion
  apps/front-end-vue/package.json
  apps/front-end-vue/src/composables/useApi.ts
  apps/front-end-vue/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(gitpod): make api public to avoid cors preflight error
  .gitpod.yml
Due: prettier --write

fix(vite-env): set default env gitpod url as null
  apps/front-end-vue/vite.config.ts
Due: eslint --fix

fix(useApi): only pass credentials in gitpod enviroment
  apps/front-end-vue/src/composables/useApi.ts
Due: eslint --fix

refactor(vue-links): change anchors to vue router-link
  apps/front-end-vue/src/components/Breadcrumb.vue
  apps/front-end-vue/src/components/SideNav.vue
  apps/front-end-vue/src/pages/orders/components/OrderStatusOptions.vue
Due: eslint --fix

fix: bump prisma version to fix ssl error
  apps/back-end/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(prisma): bump prisma version to prevent back-end crash
  apps/back-end/package.json
  apps/back-end/src/shared/exception.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Update readme.md
  readme.md
Due: none
