Repository extendsLcc/workshop-REST_API: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{json,yml}": "prettier --write",
  "*.{js,ts,tsx,vue}": "eslint --fix"
}

refactor(useApi): allow axios config to be passed to get method
  apps/front-end/src/composables/useApi.ts
Due: eslint --fix

feat(products): implements product listing page
  apps/front-end/src/components/Content.vue
  apps/front-end/src/components/SearchInput.vue
  apps/front-end/src/pages/products/@types.ts
  apps/front-end/src/pages/products/index.vue
Due: eslint --fix

feat(sidebar): implement the sidebar drawer and change all buttons on index
  apps/front-end/package.json
  apps/front-end/src/features/Cards/components/CardsComponent.tsx
  apps/front-end/src/features/Index/view/IndexPage.tsx
  apps/front-end/src/features/Navbar/view/Navbar.tsx
  apps/front-end/src/features/Sidebar/Components/SidebarComponent.tsx
  apps/front-end/src/features/Sidebar/Sidebar.ts
  apps/front-end/src/features/Sidebar/types/SidebarTypes.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(categories): edit category and implement react-toastfy.
  apps/front-end/package.json
  apps/front-end/src/Components/Modal/InputModal/components/InputModalComponent.tsx
  apps/front-end/src/Components/Modal/types/ModalTypes.ts
  apps/front-end/src/features/Cards/components/CardsComponent.tsx
  apps/front-end/src/features/Categories/view/CategoriesPage.tsx
  apps/front-end/src/pages/_app.tsx
  pnpm-lock.yaml
  thunder-tests/thunderActivity.json
  thunder-tests/thunderCollection.json
  thunder-tests/thunderEnvironment.json
  thunder-tests/thunderclient.json
Due: prettier --write, eslint --fix

chore(categories): implement all functions (endpoints) on categories page.
  apps/front-end/src/Components/Modal/Categories/CreateModal/Components/CreateModalComponents.tsx
  apps/front-end/src/Components/Modal/Categories/CreateModal/CreateModal.ts
  apps/front-end/src/Components/Modal/Categories/DeleteModal/DeleteModal.ts
  apps/front-end/src/Components/Modal/Categories/DeleteModal/components/DeleteModalComponent.tsx
  apps/front-end/src/Components/Modal/Categories/InputModal/InputModal.ts
  apps/front-end/src/Components/Modal/Categories/InputModal/components/InputModalComponent.tsx
  apps/front-end/src/Components/Modal/Categories/ViewModal/ViewModal.ts
  apps/front-end/src/Components/Modal/Categories/ViewModal/components/ViewModalComponent.tsx
  apps/front-end/src/Components/Modal/ViewModal/components/ViewModalComponent.tsx
  apps/front-end/src/Components/Modal/types/ModalTypes.ts
  apps/front-end/src/features/Cards/components/CardsComponent.tsx
  apps/front-end/src/features/Categories/view/CategoriesPage.tsx
  apps/front-end/src/pages/categories/index.tsx
  apps/front-end/src/pages/customers/index.ts
  apps/front-end/src/pages/customers/index.tsx
  apps/front-end/src/pages/orders/index.ts
  apps/front-end/src/pages/orders/index.tsx
  apps/front-end/src/pages/products/index.tsx
Due: eslint --fix

chore(products): implement the view products and edit products.
  apps/front-end/src/Components/Modal/Products/CreateModal/Components/CreateModalComponents.tsx
  apps/front-end/src/Components/Modal/Products/CreateModal/CreateModal.ts
  apps/front-end/src/Components/Modal/Products/DeleteModal/DeleteModal.ts
  apps/front-end/src/Components/Modal/Products/DeleteModal/components/DeleteModalComponent.tsx
  apps/front-end/src/Components/Modal/Products/InputModal/InputModal.ts
  apps/front-end/src/Components/Modal/Products/InputModal/components/InputModalComponent.tsx
  apps/front-end/src/Components/Modal/Products/ViewModal/ViewModal.ts
  apps/front-end/src/Components/Modal/Products/ViewModal/components/ViewModalComponent.tsx
  apps/front-end/src/Components/Modal/types/ModalTypes.ts
  apps/front-end/src/features/Product/types/ProductsType.ts
  apps/front-end/src/features/Product/view/ProductPage.tsx
Due: eslint --fix

refactor(products): add category attributes to get product endpoint
  apps/back-end/src/services/product.service.ts
Due: eslint --fix

chore(products): implement all functions on products page
  apps/front-end/src/Components/Modal/Products/CreateModal/Components/CreateModalComponents.tsx
  apps/front-end/src/Components/Modal/Products/CreateModal/CreateModal.ts
  apps/front-end/src/Components/Modal/Products/InputModal/components/InputModalComponent.tsx
  apps/front-end/src/features/Cards/components/CardsComponent.tsx
  apps/front-end/src/features/Product/view/ProductPage.tsx
Due: eslint --fix

chore(customers): implement all functions on customers page.
  apps/front-end/src/Components/Modal/Customer/CreateModal/Components/CreateModalComponents.tsx
  apps/front-end/src/Components/Modal/Customer/CreateModal/CreateModal.ts
  apps/front-end/src/Components/Modal/Customer/DeleteModal/DeleteModal.ts
  apps/front-end/src/Components/Modal/Customer/DeleteModal/components/DeleteModalComponent.tsx
  apps/front-end/src/Components/Modal/Customer/InputModal/InputModal.ts
  apps/front-end/src/Components/Modal/Customer/InputModal/components/InputModalComponent.tsx
  apps/front-end/src/Components/Modal/Customer/ViewModal/ViewModal.ts
  apps/front-end/src/Components/Modal/Customer/ViewModal/components/ViewModalComponent.tsx
  apps/front-end/src/features/Cards/components/CardsComponent.tsx
  apps/front-end/src/features/Customer/view/CustomerPage.tsx
Due: eslint --fix

remove(customers): remove all actions modal on customers list
  apps/front-end/src/Components/Modal/Customer/DeleteModal/DeleteModal.ts
  apps/front-end/src/Components/Modal/Customer/DeleteModal/components/DeleteModalComponent.tsx
  apps/front-end/src/Components/Modal/Customer/InputModal/InputModal.ts
  apps/front-end/src/Components/Modal/Customer/InputModal/components/InputModalComponent.tsx
  apps/front-end/src/Components/Modal/Customer/ViewModal/ViewModal.ts
  apps/front-end/src/Components/Modal/Customer/ViewModal/components/ViewModalComponent.tsx
  apps/front-end/src/features/Customer/view/CustomerPage.tsx
Due: eslint --fix

feat(orders): add get order by id endpoint
  apps/back-end/src/routes/orders.routes.ts
  apps/back-end/src/services/order.service.ts
  apps/back-end/thunder-tests/thunderclient.json
Due: prettier --write, eslint --fix

fix(orders): corrige all datas on orders table.
  apps/front-end/src/features/Orders/types/OrdersTypes.ts
  apps/front-end/src/features/Orders/view/OrdesPage.tsx
Due: eslint --fix

refactor(TextInput): change v-model binding of TextInput component
  apps/front-end/src/components/TextInput.vue
  apps/front-end/src/pages/categories/[category].vue
  apps/front-end/src/pages/categories/new.vue
  apps/front-end/src/pages/customers/new.vue
Due: eslint --fix

fix(Form & Table): fix wrong typing for props
  apps/front-end/src/components/Form.vue
  apps/front-end/src/components/Table.vue
Due: eslint --fix

feat(products): add new product page
  apps/front-end/src/components/CategoriesSelect.vue
  apps/front-end/src/pages/products/new.vue
Due: eslint --fix

feat(products): add product edit page
  apps/front-end/src/pages/products/[product].vue
Due: eslint --fix

chore(orders): implement all datas on orders view.
  apps/back-end/thunder-tests/thunderclient.json
  apps/front-end/src/Components/Modal/Orders/CreateModal/Components/CreateModalComponents.tsx
  apps/front-end/src/Components/Modal/Orders/CreateModal/CreateModal.ts
  apps/front-end/src/Components/Modal/Orders/InputModal/InputModal.ts
  apps/front-end/src/Components/Modal/Orders/InputModal/components/InputModalComponent.tsx
  apps/front-end/src/Components/Modal/Orders/ViewModal/ViewModal.ts
  apps/front-end/src/Components/Modal/Orders/ViewModal/components/ViewModalComponent.tsx
  apps/front-end/src/Components/Modal/types/ModalTypes.ts
  apps/front-end/src/features/Orders/view/OrdesPage.tsx
Due: prettier --write, eslint --fix

chore(orders): implement create a new order.
  apps/front-end/src/Components/Modal/Orders/CreateModal/Components/CreateModalComponents.tsx
  apps/front-end/src/features/Cards/components/CardsComponent.tsx
Due: eslint --fix

refactor(orders): allow to pass order date during order creation
  apps/back-end/src/routes/orders.routes.ts
  apps/back-end/src/services/order.service.ts
Due: eslint --fix

refactor(products): move scoped components to products directory
  apps/front-end/src/pages/products/[product].vue
  apps/front-end/src/pages/products/components/CategoriesSelect.vue
  apps/front-end/src/pages/products/components/SearchInput.vue
  apps/front-end/src/pages/products/index.vue
  apps/front-end/src/pages/products/new.vue
  apps/front-end/vite.config.ts
Due: eslint --fix

refactor(products): add limit on numeric inputs
  apps/front-end/src/pages/orders/components/ProductsSelect.vue
  apps/front-end/src/pages/products/[product].vue
  apps/front-end/src/pages/products/new.vue
Due: eslint --fix

feat(order): add order creation page
  apps/front-end/package.json
  apps/front-end/src/components/TextInput.vue
  apps/front-end/src/pages/orders/@types.ts
  apps/front-end/src/pages/orders/components/CustomersSelect.vue
  apps/front-end/src/pages/orders/components/Datepicker.vue
  apps/front-end/src/pages/orders/components/OrderItems.vue
  apps/front-end/src/pages/orders/new.vue
  apps/front-end/src/util/Unpacked.ts
  apps/front-end/src/util/convertCentsToBrl.ts
  apps/front-end/src/util/formatCentsToBrlCurrency.ts
  apps/front-end/src/util/formatDateToBrazilianFormat.ts
  apps/front-end/src/util/formatNumberToCurrency.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(orders): add list orders page with order status change
  apps/front-end/src/components/Content.vue
  apps/front-end/src/components/Table.vue
  apps/front-end/src/pages/orders/@types.ts
  apps/front-end/src/pages/orders/components/OrderStatusOptions.vue
  apps/front-end/src/pages/orders/components/ViewOrderModal.vue
  apps/front-end/src/pages/orders/index.vue
Due: eslint --fix

refactor(next): change nextjs default port to prevent conflict with api port
  apps/front-end-react/package.json
  apps/front-end-react/src/services/ApiAxios.ts
Due: prettier --write, eslint --fix

chore: rename project on github
  apps/front-end-vue/src/components/NavBar.vue
  apps/front-end-vue/src/pages/index.vue
  readme.md
Due: eslint --fix

fix(eslint): fix eslint plugin version conflict
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove react files from vanilla app folder
  apps/front-end-vanilla/.eslintrc.json
  apps/front-end-vanilla/.gitignore
  apps/front-end-vanilla/README.md
  apps/front-end-vanilla/next.config.js
  apps/front-end-vanilla/package.json
  apps/front-end-vanilla/public/favicon.ico
  apps/front-end-vanilla/public/vercel.svg
  apps/front-end-vanilla/src/features/index/indexPage.ts
  apps/front-end-vanilla/src/features/index/view/IndexPage.tsx
  apps/front-end-vanilla/src/pages/_app.tsx
  apps/front-end-vanilla/src/pages/_document.tsx
  apps/front-end-vanilla/src/pages/index.tsx
  apps/front-end-vanilla/src/styles/theme.ts
  apps/front-end-vanilla/tsconfig.json
  apps/front-end-vanilla/yarn.lock
Due: prettier --write, eslint --fix

fix(vanilla): change api port for vanilla app
  apps/front-end-vanilla/edit.html
  apps/front-end-vanilla/index.html
  apps/front-end-vanilla/new.html
Due: none

refactor: setup basic examples
  apps/back-end/.gitignore
  apps/back-end/src/server.ts
Due: eslint --fix

chore(git): ignore js source maps
  apps/back-end/.gitignore
Due: none

feat(crud): add crud example of users resource
  apps/back-end/src/server.ts
  apps/back-end/thunder-tests/thunderCollection.json
  apps/back-end/thunder-tests/thunderclient.json
Due: prettier --write, eslint --fix

docs(readme): add git clone example with specific tag
  readme.md
Due: none

chore(gitpod): setup gitpod file and update readme
  .gitpod.yml
  readme.md
Due: prettier --write

fix(gitpod): use default gitpod workspace dockerfile
  .gitpod.yml
Due: prettier --write

fix(gitpod): remove docker tasks
  .gitpod.yml
Due: prettier --write

fix(gitpod): fix gitpod init command
  .gitpod.yml
Due: prettier --write

chore: remove unused files
  thunder-tests/thunderActivity.json
  thunder-tests/thunderCollection.json
  thunder-tests/thunderEnvironment.json
  thunder-tests/thunderclient.json
Due: prettier --write
