Repository extendsLcc/workshop-REST_API: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{json,yml}": "prettier --write",
  "*.{ts,tsx,vue}": "eslint --fix"
}

chore(eslint): fix eslint setup for typescript
  .eslintrc
  tsconfig.json
Due: prettier --write

fix(typescript): fix config conflict with type: module
  tsconfig.json
Due: prettier --write

feat: implements most basic fastify server setup and requests examples
  apps/back-end/.gitignore
  apps/back-end/package.json
  apps/back-end/src/server.ts
  apps/back-end/thunder-tests/thunderActivity.json
  apps/back-end/thunder-tests/thunderCollection.json
  apps/back-end/thunder-tests/thunderEnvironment.json
  apps/back-end/thunder-tests/thunderclient.json
  apps/back-end/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(eslint): disable no-floating-promises rule
  .eslintrc
Due: none

chore(lintstaged): add js files to lintstaged eslint command
  .lintstagedrc
Due: none

chore(fastify): add initial setup for fastify using vite hmr
  apps/back-end/package.json
  apps/back-end/src/logger.ts
  apps/back-end/src/server.ts
  apps/back-end/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(eslint): disable @typescript-eslint/require-await for fastify requirements
  .eslintrc
Due: none

feat: declare all application entities types
  apps/back-end/src/entities.ts
Due: eslint --fix

chore(package): add http-status as dependency
  apps/back-end/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(eslint): disable no-unsafe-return rule
  .eslintrc
Due: none

chore(eslint): disable no-unsafe-assignment rule
  .eslintrc
Due: none

chore(eslint): disable no-unsafe-* rules
  .eslintrc
Due: none

feat(category): implements create and list categories endpoint's
  apps/back-end/src/routes/categories.routes.ts
  apps/back-end/src/server.ts
  apps/back-end/src/services/category.service.ts
  apps/back-end/thunder-tests/thunderActivity.json
  apps/back-end/thunder-tests/thunderCollection.json
  apps/back-end/thunder-tests/thunderclient.json
Due: prettier --write, eslint --fix

feat(category): add get, update and delete endpoint's
  apps/back-end/src/routes/categories.routes.ts
  apps/back-end/src/services/category.service.ts
  apps/back-end/src/util.ts
  apps/back-end/thunder-tests/thunderclient.json
Due: prettier --write, eslint --fix

feat(products): implements list, create, get, update and delete endpoint's
  apps/back-end/src/routes/products.routes.ts
  apps/back-end/src/server.ts
  apps/back-end/src/services/product.service.ts
Due: eslint --fix

chore(eslint): disable no-unsafe-argument rule
  .eslintrc
Due: none

refactor(products): create product with status enabled as default
  apps/back-end/src/services/product.service.ts
Due: eslint --fix

chore(thunder-client): add products endpoints to collection
  apps/back-end/thunder-tests/thunderCollection.json
  apps/back-end/thunder-tests/thunderclient.json
Due: prettier --write

refactor(products): improve error handling when category is not found
  apps/back-end/src/routes/products.routes.ts
  apps/back-end/src/services/product.service.ts
Due: eslint --fix

chore(thunder-client): update products endpoint's params example
  apps/back-end/thunder-tests/thunderActivity.json
  apps/back-end/thunder-tests/thunderCollection.json
  apps/back-end/thunder-tests/thunderclient.json
Due: prettier --write

feat(products): add search by name filter on listProducts endpoint
  apps/back-end/src/routes/products.routes.ts
  apps/back-end/src/services/product.service.ts
  apps/back-end/thunder-tests/thunderclient.json
Due: prettier --write, eslint --fix

feat(products): implements text search, category and status filter on listProducts endpoint
  apps/back-end/src/routes/products.routes.ts
  apps/back-end/src/services/product.service.ts
  apps/back-end/thunder-tests/thunderclient.json
Due: prettier --write, eslint --fix

feat(products): implements product status toggle endpoint
  apps/back-end/src/routes/products.routes.ts
  apps/back-end/src/services/product.service.ts
  apps/back-end/thunder-tests/thunderclient.json
Due: prettier --write, eslint --fix

refactor(routes): add line-break between each endpoint declaration
  apps/back-end/src/routes/categories.routes.ts
  apps/back-end/src/routes/products.routes.ts
Due: eslint --fix

feat(customer): implements customer list and create endpoint's
  apps/back-end/src/routes/customers.routes.ts
  apps/back-end/src/server.ts
  apps/back-end/src/services/customer.service.ts
Due: eslint --fix

chore(thunder-client): add customer endpoint's to thunder-client collection
  apps/back-end/thunder-tests/thunderCollection.json
  apps/back-end/thunder-tests/thunderclient.json
Due: prettier --write

chore(eslint): disable restrict-template-expressions
  .eslintrc
Due: none

feat(order): implements place order endpoint
  apps/back-end/src/routes/orders.routes.ts
  apps/back-end/src/services/order.service.ts
  apps/back-end/src/services/product.service.ts
Due: eslint --fix

refactor(products): refactor to use promise api syntax
  apps/back-end/src/routes/products.routes.ts
Due: eslint --fix

feat(dummy): add dummy data for all resources entities
  apps/back-end/src/services/category.service.ts
  apps/back-end/src/services/customer.service.ts
  apps/back-end/src/services/order.service.ts
  apps/back-end/src/services/product.service.ts
  apps/back-end/src/test/dummies.ts
Due: eslint --fix

fix(order): add missing route register call
  apps/back-end/src/routes/orders.routes.ts
  apps/back-end/src/server.ts
Due: eslint --fix

chore(thunder-client): add create order endpoint
  apps/back-end/thunder-tests/thunderCollection.json
  apps/back-end/thunder-tests/thunderclient.json
Due: prettier --write

chore(eslint): disable restrict-plus-operands rule
  .eslintrc
Due: none

fix(services): fix autoincrement non-unique using dummy data
  apps/back-end/src/services/category.service.ts
  apps/back-end/src/services/customer.service.ts
  apps/back-end/src/services/order.service.ts
  apps/back-end/src/services/product.service.ts
Due: eslint --fix

refactor(order): use order id as string instead of number
  apps/back-end/src/entities.ts
  apps/back-end/src/services/order.service.ts
  apps/back-end/src/test/dummies.ts
Due: eslint --fix

feat(order): implements order listing endpoint
  apps/back-end/src/routes/orders.routes.ts
  apps/back-end/src/services/order.service.ts
Due: eslint --fix

chore(thunder-client): add List order endpoint to collection
  apps/back-end/thunder-tests/thunderclient.json
Due: prettier --write

feat(order): implements order status change endpoint
  apps/back-end/src/entities.ts
  apps/back-end/src/routes/orders.routes.ts
  apps/back-end/src/services/order.service.ts
  apps/back-end/src/util.ts
Due: eslint --fix

chore(thunder-client): add change order status endpoint to collection
  apps/back-end/thunder-tests/thunderclient.json
Due: prettier --write

refactor(order): remove unused import
  apps/back-end/src/routes/orders.routes.ts
Due: eslint --fix
