Repository extendsLcc/workshop-REST_API: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{json,yml}": "prettier --write",
  "*.{js,ts,tsx,vue}": "eslint --fix"
}

doc(readme): adds basic readme to the project
  readme.md
Due: none

docs(readme): fix wrong ifpr link
  readme.md
Due: none

config(prisma): add prisma setup
  apps/back-end/.env
  apps/back-end/.gitignore
  apps/back-end/package.json
  apps/back-end/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier --write

chore(prisma): run prisma migrations
  apps/back-end/prisma/migrations/20220901221013_create_order_tables/migration.sql
  apps/back-end/prisma/migrations/migration_lock.toml
Due: none

chore(prisma): setup prisma client as fastify plugin
  apps/back-end/package.json
  apps/back-end/src/server.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

wip(fastify): disable products, customer and orders routes
  apps/back-end/src/server.ts
Due: eslint --fix

refactor(category): refactors all category methods to use prisma instead of in-memory array
  apps/back-end/src/routes/categories.routes.ts
  apps/back-end/src/services/category.service.ts
  apps/back-end/src/util.ts
  apps/back-end/thunder-tests/thunderclient.json
Due: prettier --write, eslint --fix

docs(readme): fix typo in pnpm name
  readme.md
Due: none

CustomerCreateInput
  readme.md
Due: none

refactor(category): reuse prisma types instead
  apps/back-end/src/routes/categories.routes.ts
  apps/back-end/src/services/category.service.ts
Due: eslint --fix

refactor(customer): refactors customer endpoints to use prisma instead of in-memory array
  apps/back-end/src/routes/customers.routes.ts
  apps/back-end/src/server.ts
  apps/back-end/src/services/customer.service.ts
Due: eslint --fix

fix(prisma): add missing status column to product model
  apps/back-end/prisma/migrations/20220902001134_add_status_to_product_table/migration.sql
  apps/back-end/prisma/schema.prisma
Due: none

refactor(prisma): set product status to true as default
  apps/back-end/prisma/migrations/20220902001325_set_product_status_to_true_as_default/migration.sql
  apps/back-end/prisma/schema.prisma
Due: none

refactor(product): change all products endpoints to use prisma instead of in-memory array
  apps/back-end/src/routes/products.routes.ts
  apps/back-end/src/server.ts
  apps/back-end/src/services/product.service.ts
  apps/back-end/src/util.ts
Due: eslint --fix

fix(order): calculate orderItem price considering quantity
  apps/back-end/src/services/order.service.ts
Due: eslint --fix

refactor(prisma): constraint unique id of orderItem
  apps/back-end/prisma/migrations/20220903231124_constraint_orderitem_unique_id/migration.sql
  apps/back-end/prisma/schema.prisma
Due: none

refactor(order): changes order endpoint's to use database instead of in-memory array
  apps/back-end/src/exception.ts
  apps/back-end/src/routes/categories.routes.ts
  apps/back-end/src/routes/orders.routes.ts
  apps/back-end/src/routes/products.routes.ts
  apps/back-end/src/server.ts
  apps/back-end/src/services/order.service.ts
  apps/back-end/src/util.ts
Due: eslint --fix

chore(thunder-client): update collection according with order changes
  apps/back-end/thunder-tests/thunderclient.json
Due: prettier --write

refactor(exception): remove unused import
  apps/back-end/src/exception.ts
Due: eslint --fix

refactor(dummy): replace dummies data with prisma seeding
  apps/back-end/package.json
  apps/back-end/prisma/seed.ts
  apps/back-end/src/entities.ts
  apps/back-end/src/services/order.service.ts
  apps/back-end/src/test/dummies.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

docs(readme): add readme specific for API app
  apps/back-end/readme.md
  readme.md
Due: none

Update readme.md
  readme.md
Due: none

refactor(categories): desestruturate request body for better data safeness
  apps/back-end/src/routes/categories.routes.ts
Due: eslint --fix

refactor(customer): desestruturate request body to better data safeness
  apps/back-end/src/routes/customers.routes.ts
Due: eslint --fix

refactor(order): desestruturate request body for better data safeness
  apps/back-end/src/routes/orders.routes.ts
Due: eslint --fix

refactor(routes): rename categories and routes definition to plural
  apps/back-end/src/routes/categories.routes.ts
  apps/back-end/src/routes/customers.routes.ts
  apps/back-end/src/server.ts
Due: eslint --fix

refactor(shared): move exception and util file to shared directory
  apps/back-end/src/routes/categories.routes.ts
  apps/back-end/src/routes/orders.routes.ts
  apps/back-end/src/routes/products.routes.ts
  apps/back-end/src/services/order.service.ts
  apps/back-end/src/shared/exception.ts
  apps/back-end/src/shared/util.ts
Due: eslint --fix

docs(readme): fix typo
  readme.md
Due: none

chore(front-end): bootstrap vite vue-ts template
  apps/front-end/.eslintrc
  apps/front-end/.gitignore
  apps/front-end/.vscode/extensions.json
  apps/front-end/README.md
  apps/front-end/index.html
  apps/front-end/package.json
  apps/front-end/public/vite.svg
  apps/front-end/src/App.vue
  apps/front-end/src/main.ts
  apps/front-end/src/vite-env.d.ts
  apps/front-end/tsconfig.json
  apps/front-end/tsconfig.node.json
  apps/front-end/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

chore(eslint): ignore json files and add cli commands
  .eslintignore
  package.json
Due: prettier --write

chore(eslint): fix eslint config conflict with vite.config file
  apps/front-end/.eslintrc
  apps/front-end/tsconfig.eslint.json
Due: prettier --write

chore(eslint): fix eslint error when running from root of monorepo
  apps/front-end/.eslintrc
Due: none

chore(vue-setup): config pages and vue-layouts vite-plugins
  apps/front-end/package.json
  apps/front-end/src/layouts/default.vue
  apps/front-end/src/main.ts
  apps/front-end/tsconfig.json
  apps/front-end/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(prettier): enable vue ident level on script and styles
  .prettierrc
Due: none

chore(eslint): enable base ident on vue eslint rule
  apps/front-end/.eslintrc
Due: none

chore(unocss): setup daisyui with unocss
  apps/front-end/index.html
  apps/front-end/package.json
  apps/front-end/src/App.vue
  apps/front-end/src/main.ts
  apps/front-end/tsconfig.eslint.json
  apps/front-end/unocss.config.ts
  apps/front-end/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(layouts): setup vue layout plugin
  apps/front-end/src/layouts/default.vue
  apps/front-end/src/main.ts
Due: eslint --fix

chore(icons): setup material design icons with unocss
  apps/front-end/package.json
  apps/front-end/unocss.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(404): setup not found page
  apps/front-end/src/pages/[...error].vue
Due: eslint --fix

chore(cli): add typecheck cli command
  apps/front-end/package.json
Due: prettier --write
